:root {
  --brown: #875845;
  --darkbrown: #4F3529;
}

html, body {
  margin: 0;
  height: 100%;
}

/*                             BOOKCASES                                     */
.case {
  fill: var(--brown);
}

/* order matters */

.shelf {
  fill: var(--brown)
}

.background{
  fill: var(--darkbrown)
}

/*                               BOOKS                                       */

.book {
  stroke: black;
  fill: lightsteelblue;
  stroke-width: 1;
}
