:root {
  --brown: #875845;
  --darkbrown: #4F3529;
  --highlight: #A23E48;
  --highlightstroke: #C15C66;
  --lowlight: #B1AE91;
  --lowlightstroke: #DBD9C1;
  --current: #6D68B3;
  --currentstroke: #9693C3;
  --looking: #218380;
  --lookingstroke: #145250;
}

html, body {
  margin: 0;
  height: 100%;
}

/*                               TOOLTIP                                     */
.tooltip{
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
}

/*                             BOOKCASES                                     */
.case {
  fill: var(--brown);
  stroke: black;
}

.labels{
  fill: #C19219;
  stroke: #574310;
  stroke-width: 2;
}

.labeltext {
  fill: #2D2309;
  font-family: Helvetica;
  font-weight: bold;
}

/* order matters */

.shelf {
  fill: var(--brown);
}

.background{
  fill: var(--darkbrown)
}

/*                               BOOKS                                       */

.book {
  fill: grey;
}

.read {
  fill: var(--lowlight);
  stroke: var(--lowlightstroke);
  stroke-width: 1;
}

.to-read {
  fill: var(--highlight);
  stroke: var(--highlightstroke);
  stroke-width: 1.5;
}
.currently-reading{
  fill: var(--current);
  stroke: var(--currentstroke);
  stroke-width: 1.25;
}

.looking{
  fill: var(--looking);
  stroke: var(--lookingstroke);
  stroke-width: 1.75;
}

/*                             BUTTON                                         */

.btext{
  font-family: Helvetica;
  font-weight: bold;
}

.button.inactive{
  fill: #B4C6CF;
  stroke: #9DB4C0;
  stroke-width: 4;
}

.button.active{
  fill: #9DB4C0;
  stroke: #49545B;
  stroke-width: 4;
}

.button.clicked{
  fill: #40474B;
  stroke: #1E2124;
  stroke-width: 6;
}
