:root {
  --brown: #875845;
  --darkbrown: #4F3529;
  --highlight: #A23E48;
  --highlightstroke: #C15C66;
  --lowlight: #B1AE91;
  --lowlightstroke: #837F5D;
}

html, body {
  margin: 0;
  height: 100%;
}

/*                             BOOKCASES                                     */
.case {
  fill: var(--brown);
  stroke: black;
}

/* order matters */

.shelf {
  fill: var(--brown);
}

.background{
  fill: var(--darkbrown)
}

/*                               BOOKS                                       */

.book {
  fill: grey;
}

.read {
  fill: var(--lowlight);
  stroke: var(--lowlightstroke);
  stroke-width: 1;
}

.to-read {
  fill: var(--highlight);
  stroke: var(--highlightstroke);
  stroke-width: 1.5;
}

/*                             BUTTON                                         */

.button.inactive{
  fill: #B4C6CF;
  stroke: #9DB4C0;
  stroke-width: 4;
}

.button.active{
  fill: #9DB4C0;
  stroke: #49545B;
  stroke-width: 4;
}

.button.clicked{
  fill: #7F8F98;
  stroke: #32393D;
  stroke-width: 4;
}
